* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.carousel {
  height: 70rem;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 550px) {
  .carousel {
    height: 30rem;
  }
}

.carousel .carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel .carousel-inner .carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.carousel-indicators li {
  height: 1rem !important;
  width: 1rem !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  background: red !important;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (max-width: 550px) {
  .carousel-caption {
    width: 70%;
  }
}

.carousel-caption h5 {
  font-size: 5rem;
  font-weight: bold;
}

@media only screen and (max-width: 991px) {
  .carousel-caption h5 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 991px) {
  .carousel-caption h5 {
    font-size: 3rem;
  }
}

.carousel-caption p {
  font-size: 1.6rem;
}

.carousel-control-prev {
  background-color: red;
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  .carousel-control-prev {
    left: 5%;
  }
}

@media only screen and (max-width: 550px) {
  .carousel-control-prev {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.carousel-control-prev-icon {
  background-image: url("../imgaes/arrow-prev.svg");
}

.carousel-control-next {
  background-color: red;
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  .carousel-control-next {
    right: 5%;
  }
}

@media only screen and (max-width: 550px) {
  .carousel-control-next {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.carousel-control-next-icon {
  background-image: url("../imgaes/arrow-next.svg");
}

/*----------------------
Carousel Fade
-----------------------*/
.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
/*# sourceMappingURL=style.css.map */