.carousel{
    height: 70rem;
    width: 100%;
    position: absolute;

    @include respond-phoneX{
        height: 30rem;
    }

    .carousel-inner{
        height: 100%;
        width: 100%;

        .carousel-item{
            height: 100%;
            width: 100%;
        }
    }

    &-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(40%);
    }

    &-indicators{
        li{
            height: 1rem !important;
            width: 1rem !important;
            border-radius: 50%;
        }

        .active{
            background: red !important;
        }
    }

    &-caption{
        position: absolute;
        top: 40%;
        left: 50%;
        padding: 0;
        transform: translateX(-50%);

        @include respond-phoneX{
            width: 70%;
        }

        h5{
            font-size: 5rem;
            font-weight: bold;

            @include respond-tabport{
                font-size: 4rem;
            }

            @include respond-tabport{
                font-size: 3rem;
            }
        }

        p{
            font-size: 1.6rem;
        }
    }

    &-control-prev{
        background-color: red;
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);

        @include respond-tabport{
            left: 5%;
        }

        @include respond-phoneX{
            height: 3.5rem;
            width: 3.5rem;
        }

        &-icon{
            background-image: url('../imgaes/arrow-prev.svg');
        }
    }

    &-control-next{
        background-color: red;
        position: absolute;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        @include respond-tabport{
            right: 5%;
        }

        @include respond-phoneX{
            height: 3.5rem;
            width: 3.5rem;
        }

        &-icon{
            background-image: url('../imgaes/arrow-next.svg');
        }
    }
}

/*----------------------
Carousel Fade
-----------------------*/

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: 1s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
