@mixin respond-tabport {
    @media only screen and (max-width: 991px){ @content }
};

@mixin respond-tabportXs {
    @media only screen and (max-width:767px){ @content }
};

@mixin respond-phoneX {
    @media only screen and (max-width:550px){ @content }
}



